*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: ; */
    font-size: 16px;
}


/* HEADER */
header{
    width: 100%;
    height: 650px;
    background-image: url(https://noticiasdelaciencia.com/upload/images/02_2020/8156_206702_web.jpg);
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;
    position: relative; /*posicionar padre para el sesgo*/
    overflow: hidden;
    color: #fff;
    text-align: center;
}
header .textos{
    margin-top: 102px;
}
header .titulo{
    font-size: 85px;
}
header .subtitulo{
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
    /* color: red; */
}
header .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 19px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
}
header .boton:hover{
    border-radius: 0;
    width: 140px;
    font-size: 23px;
    transition:  border-radius 0.5s, width 0.5s,  font-size 1s;
}
/* reutilizable */
.sesgoabajo{
    z-index: 10;
    position: absolute;
    bottom: 0; /*abajo*/
    left: 0;
    border-width: 0 0 35vh 100vw; /* rectaungulo responsive */
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}
.sesgoarriba{
    z-index: 10;
    position: absolute;
    top: 0; /*arriba*/
    left: 0;
    border-width: 35vh 100vw 0 0 ; /* rectaungulo responsive */
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}
.contenedor{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

/* MAIN */
.sobre-nosotros{
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600px;
    height: auto;
}
.slogan{
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
    color: red;
}

/* GRID */
.grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(120px,1fr));
    grid-template-rows: minmax(240px, 330px);
    grid-column-gap: 20px;
}
.grid .img{
    overflow: hidden;
    /* border: 3px solid #000; */
}
.grid .img img{
    object-fit: cover;
}
.grid p{
    overflow: auto;
    text-align: justify;
    /* border: 3px solid #000; */
}

.acerca-de .boton{
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 1px solid #000;
    color: #000;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

/* GALERIA */
.galeria{
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative; /*posicionar padre para el sesgo*/
}
.imagenes{
    width: 25%;
    height: 500px;
    overflow: hidden;
    position: relative;
}
.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover; /*para no distorcionar las imagenes*/
}
.encima{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: 52, 73, 94, 0.815;
}
.encima h2{
    position: relative;
    top: 45%;
    text-align: center;
    color: #fff;
}
.encima .div{
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: #fff;
    margin: auto;
}

/* INFORMACION */

.informacion p{
    margin: 25px;
    text-align: justify;
}


/* lista */
.lista li{
    margin-left: 50px;
}
/* gift */
.gift{
    margin-left: 20vw;
    margin-top: 40px;
    width: 400px;
    text-align: center;
}


@media only screen and (max-width: 500px){
    .grid{
        grid-template-columns: 1fr;
    }
}